.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
	appearance: none;
}
.spin-button-none[type="number"] {
	-moz-appearance: textfield;
}

.bounce2 {
	animation: bounce2 2s ease;
}
@keyframes bounce2 {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-10px);
	}
	60% {
		transform: translateY(-5px);
	}
}

.animate-scale {
	transform-origin: 0% 0%;
	animation: scale 0.2s;
}

.animate-scale-reverse {
	transform-origin: 0% 0%;
	animation: scale 0.2s reverse forwards;
}

@keyframes scale {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}

@tailwind base;
@tailwind components;
@tailwind utilities;
